
	
	<!-- <img src="img/EritreanBird.jpeg" alt=""> -->
 <p/>
 <ul>
	<% x.forEach((y)=> { %>

 <li><%= y.name %>  <%= y.father %> </li>
 <li>   <%= y.city %></li>
<li><%= y.email %>   </li>
 --------------------------

<% }) %>
	</ul>
