<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<%- include('includes/links') %>
</head>
<body>
	
<%- include('includes/head') %>


	</p></p>
<div class="h-100 d-flex align-items-center justify-content-center">

	<div class="row">
		<div class="col-4 d-flex justify-content-center">
			<!-- <img src="img/truck.png" class="truck-icon" alt=""> -->
		</div>
	</div>

<ui class="loginmain">
	<h3>Login</h3>
		<li><input type="text" placeholder="email" class="email-login"></li>
		<li><input type="password" placeholder="password" class="password-login"></li>
		<li><input type="submit" class="login-submit"></li>
		<li class="register-driver">Register driver</li>
		<li class="register-company">Register Company</li>
	</ui>

</div>


<div class="h-100 d-flex align-items-center justify-content-center">
<div class="feed"></div>
</div>



<div class="h-100 d-flex align-items-center justify-content-center">
<!-- <div class="row register-now flex-column">Register Now</div> -->
	<ui class="reg-driver">
		<h3>Register driver</h3>
		<form action="/driver" method="post">
		<li><input type="text" name="name" placeholder="Name"></li>
		<li><input type="text" name="father" placeholder="Father's name"></li>
		<li><input type="text" name="license" placeholder="License Number"></li>
		<li><input type="text" name="country" placeholder="Country"></li>
		<li><input type="text" name="city" placeholder="City"></li>
		<li><input type="text" name="car" placeholder="Car brand"></li>
		<li><input type="text" name="email" placeholder="email"></li>
		<li><input type="number" name="tel" placeholder="Tel."></li>
		<li><input type="password" name="password" placeholder="password"></li>
		<li><input type="submit" ></li>
		</form>
	</ui>

	
</div>




<div class="h-100 d-flex align-items-center justify-content-center">
	<!-- <div class="row register-now flex-column">Register Now</div> -->
		<ui class="reg-company">
			<h3>Register Company</h3>
			<form action="/load" method="post">
			<!-- <li><input type="text" name="name" placeholder="Name"></li> -->
			<!-- <li><input type="text" name="father" placeholder="Father's name"></li> -->
			<li><input type="text" name="companyname" placeholder="company name"></li>
			<li><input type="text" name="loadtype" placeholder="Load Type"></li>
			<li><input type="text" name="country" placeholder="Country"></li>
			<li><input type="text" name="city" placeholder="City"></li>
			
			<li><input type="text" name="email" placeholder="email"></li>
			<li><input type="number" name="tel" placeholder="Tel."></li>
			<li><input type="password" name="password" placeholder="password"></li>
			<li><input type="submit" ></li>
			</form>
		</ui>
	
		
	</div>

</body>
</html>