
 body{
 	background-color:#F0FFFF; 
 }

 .loginmain li, .reginput li{
	/*background-color:gray;*/
	padding:3px;
	list-style:none;
	width: 200px;

    
	}

	 .loginmain input, .reginput input{
		border-radius: 4px;
		padding: 5px;
		width: 200px;

	}
.reginput{
	display: none;
	margin-top: 50px;
}

.register-now{
	
	cursor: pointer;
	margin-top: 20px;
	text-align: center;

	background-color:gray;
	color: blue; 
	font-size: 1.3em;
}

