
 body{
 	background-color:#F0FFFF; 
	 
 }
 .navbar{background-color: #ADD8E6;}

 .loginmain li, .reg-driver li, .reg-company li{
	/*background-color:gray;*/
	padding:3px;
	list-style:none;
	width: 200px;

    
	}

	 .loginmain input, .reg-driver input{
		border-radius: 4px;
		padding: 5px;
		width: 200px;

	}
.reg-driver, .reg-company{
	display: none;
	margin-top: 50px;
}

.register-driver, .register-company{
	
	cursor: pointer;
	margin-top: 20px;
	text-align: center;

	background-color:green;
	color: white; 
	font-size: 1.3em;
	border-radius: 5px;
}


/* .drivers-list{
	width: 70%;
}


.drivers-last{
	border-bottom: 1px solid silver;
	padding-bottom: 6px;
	margin-bottom: 8px;
} */

ul li{
	list-style: none;
}

a{text-decoration: none;}

/* .driverslist{
	
	width: 100%;
	background-color: silver;
} */

.driverslist td:last-child{
	padding-left: 5px;
	width: 80%;
	/* background-color: red; */
}

.driverslist td{
	border-bottom: 1pt solid rgb(235, 223, 223);
	padding:4px;
}

.eastafro .col{
	background-color: aqua; 
	padding-top: 10px;
	
}
.eastafro {
	font-weight: 200;
	
}

.eatlogo {
	font-family: "Audiowide", sans-serif;
	color:red
  }
  .eatlogo:hover{
	color: green;
  }

  .truck-icon{
	width: 300px;
	height: 200px;
  }






