
 body{
 	background-color:#F0FFFF; 
 }

 .loginmain li, .reginput li{
	/*background-color:gray;*/
	padding:3px;
	list-style:none;
	width: 200px;

    
	}

	 .loginmain input, .reginput input{
		border-radius: 4px;
		padding: 5px;
		width: 200px;

	}
.reginput{
	display: none;
	margin-top: 50px;
}

.register-now{
	
	cursor: pointer;
	margin-top: 20px;
	text-align: center;

	background-color:gray;
	color: blue; 
	font-size: 1.3em;
}


.drivers-list{
	width: 70%;
}
.drivers-list li{
	list-style: none;
}

.drivers-last{
	border-bottom: 1px solid silver;
	padding-bottom: 6px;
	margin-bottom: 8px;
}

a{text-decoration: none;}

table{
	
	width: 30%;
}

td{
	border-bottom: 1pt solid silver;
	padding: 10px;
}








